/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Web fonts */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

/* || Custom properties */
:root {
  --color-dark-purple: hsl(273 85% 13%);
  --color-eucalyptus: hsl(150 100% 63%);
  --color-davys-grey: hsl(271 12% 34%);
  --color-ghost-white: hsl(276 100% 99%);
  --color-white: hsl(0 0% 100%);
  --heading-font: "Fraunces", serif;
  --body-font: "Manrope", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.125rem;
  --font-size-7xl: 3.5rem;
  --font-size-8xl: 3.75rem;
  --font-size-9xl: 5rem;
  --line-height-3xs: 1;
  --line-height-2xs: 1.14;
  --line-height-xs: 1.17;
  --line-height-s: 1.25;
  --line-height-m: 1.29;
  --line-height-base: 1.5;
  --line-height-lg: 1.67;
  --line-height-xl: 1.75;
  --line-height-2xl: 1.78;
  --line-height-3xl: 1.8;
  --line-height-4xl: 2;
}

/* || Global styles */
body {
  padding: 2rem 1rem 4rem;
  font-family: var(--body-font);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-align: center;
  color: var(--color-davys-grey);
  background-color: var(--color-white);
}

body::before {
  content: "";
  width: 18.625rem;
  height: 11.125rem;
  position: absolute;
  top: 24.3125rem;
  transform: translateX(-50%);
  background-image: url("./assets/images/image-hero.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: var(--font-weight-semibold);
}

/* || Page wrapper styles */
.page {
  max-width: 69.625rem;
  margin-inline: auto;
}

.page::before {
  content: "";
  width: 100%;
  height: 30.125rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-dark-purple);
  border-bottom-left-radius: 53% 4%;
  border-bottom-right-radius: 53% 4%;
}

/* || Header and logo styles */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.link {
  display: inline-block;
  transition: transform 0.2s ease-in-out 0s;
}

.link:hover {
  transform: scale(1.1);
}

.logo {
  width: 6.0625rem;
  height: 1.625rem;
}

/* || Hero, CTA and card styles */
.hero {
  margin-top: 4rem;
}

.hero__title {
  font-size: var(--font-size-6xl);
  line-height: var(--line-height-3xs);
  color: var(--color-white);
}

.hero__title-highlight {
  border-bottom: 3px solid var(--color-eucalyptus);
}

.hero__features-list {
  list-style-type: none;
  counter-reset: section;
  padding-left: 0;
  margin-top: 19.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero__feature {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__feature::before {
  counter-increment: section;
  content: counter(section);
  font-family: var(--heading-font);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-3xl);
  color: var(--color-dark-purple);
  border: 1px solid var(--color-davys-grey);
  border-radius: 50%;
  padding: 0.3125rem;
  width: 3rem;
  align-self: center;
}

.hero__feature-title {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-m);
  color: var(--color-dark-purple);
}

.hero__feature-description {
  margin-top: 1rem;
}

.cta {
  display: inline-block;
  text-decoration: none;
  line-height: var(--line-height-4xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.01em;
  transition: all 0.2s ease-out 0s;
}

.cta--contained {
  padding: 0.59375rem 1.5rem;
  margin-top: 2.5rem;
  background-color: var(--color-eucalyptus);
  border: 2px solid var(--color-eucalyptus);
  color: var(--color-dark-purple);
}

.cta--contained:hover {
  background-color: transparent;
  color: var(--color-eucalyptus);
}

.cta--text {
  color: var(--color-white);
  border-bottom: 3px solid var(--color-eucalyptus);
}

.cta--text:hover {
  color: var(--color-eucalyptus);
}

.card {
  padding: 2rem 1.9375rem;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

.card__title {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-base);
}

.card__description {
  margin-top: 1rem;
}

/* || Footer styles */
.footer {
  margin-top: 4.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.625rem;
}

.footer__social-links {
  display: flex;
  gap: 1.75rem;
}

.footer__social-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.footer__social-icon-path {
  transition: fill 0.2s ease-in-out 0s;
}

.footer__social-link:hover .footer__social-icon-path {
  fill: var(--color-dark-purple);
}
